#Cadastro {
  margin-top: 2%;
}

#Cadastro h1 {
  margin-bottom: 8px;
}

#Cadastro p {
  color: #737272;
  font-size: 18px;
}

#cad_mobile h3 {
  margin-top: 2rem;
}

/*FORMULÁRIO*/

.Formulario {
  margin-top: 40px;
}

.caixa {
  height: 40px;
  outline: none;
}

.caixa:hover {
  border: 1px solid #217ad6;
}

.caixa:focus {
  border: 1px solid #217ad6;
  box-shadow: 0 0 4px solid #217ad6;
}

/*POSIÇÃO DA CAIXA DE FORMULÁRIO*/
.input-group {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  flex-direction: row;
  padding: 0;
  gap: 18px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box-company {
}

/*CHEKBOX*/

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  padding-left: 10px;
  cursor: pointer;
}

.checkbox {
  cursor: pointer;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 3px solid rgb(31, 103, 190);
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
}

.checkbox:before {
  content: "";
  width: 15px;
  height: 15px;
  background: solid rgb(31, 103, 190);
  border-radius: 50%;
  opacity: 0;
  transition: all 600ms ease-in-out;
  position: absolute;
}

.checkbox:before {
  border-radius: 0;
  background: transparent;
  border: 4px solid rgb(31, 103, 190);
  border-left: 0;
  border-top: 0;
  width: 7px;
  height: 12px;
  transform: rotate(45deg);
  top: 2px;
}

.checkbox:checked:before {
  opacity: 1;
}

.checkbox:focus {
  box-shadow: 0 0 5px solid rgb(31, 103);
}

#Funcionamento {
 display: flex;
 flex-direction: column;
 row-gap: 1rem;
 
}

#Funcionamento #time {
  width: 5rem;
  height: 2rem;
  padding: 5px;
}

/*CAIXA DE DESCRIÇÃO*/
.descrição {
  display: block;
  margin-top: 2rem;
  font-size: 18px;
}

textarea {
  outline: none;
}

/*BOTÃO CADASTRAR*/
.button4 {
  margin-top: 4%;
  background-color: #217ad6;
  color: white;
}

.button4:hover {
  background-color: #217ad6;
  color: white;
}

@media (max-width: 600px) {
  #Cadastro {
    margin-top: 2%;
  }

  .caixa {
    width: 300px;
    height: 40px;
    display: block;
    margin-bottom: 30px;
    outline: none;
  }

  .input-group {
    gap: 0;
  }

  .input-box {
    margin: 0;
  }

  .input-box #uf {
    width: 300px;
    margin-bottom: 30px;
  }

  .button {
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 246px;
    height: 48px;
    margin-right: 25px;
    margin-top: 20px;
  }

  .btn_artista {
    background-color: #217ad6;
    color: white;
    border: 2px solid #217ad6;
  }

  .btn_artista:hover {
    background-color: #217ad6;
    color: white;
    border: 2px solid #217ad6;
  }

  .btn_empresa {
    background-color: #222121;
    color: white;
    border: 2px solid #222121;
  }

  .btn_empresa:hover {
    background-color: #217ad6;
    color: white;
    border: 2px solid #217ad6;
  }

  .btn_usuario {
    background-color: #222121;
    color: white;
    border: 2px solid #222121;
  }

  .btn_usuario:hover {
    background-color: #217ad6;
    color: white;
  }
}
